### Python ###
*.py[cod] 
*.class
### PyCharm ###
.idea
### Django ###
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
app/engineer_django/static/
app/engineer_django/media/
# Environments
env/
.env.prod
.env.prod.db
# C extensions
*.so
# Translations
*.mo
*.pot
