{% extends "main/wrapper.html" %}

{% load i18n static %}

{% block content %}

{% if message %}
  {% if message.0 %}
  <div class="callout success">{{ message.1 }}</div>
  {% else %}
  <div class="callout alert">{{ message.1 }}.</div>
  {% endif %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.media.js }}
    {{ form.as_p }}
    <input type="submit" value='{% trans "Get Password" %}' class="button small" />
</form>

<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>

{% endblock %}
